<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keyword" content="html,">
    <meta name="Author" content="Bunmi">
    <meta name="description" content="Dynamic web development">
    <title></title>
    <style> </style>
</head>
<body>
  <h3>Hepatitis B Infected Pregnant Woman Reporting Form</h3>
  <form method="post">
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name">
     
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name">
     
        <label for="middle-name">Middle Name:</label>
        <input type="text" id="middle-name" name="middle-name"><br>
     
        <label for="date-of-birth">Date of Birth: </label>
        <input type="date" id="date-of-birth" name="date-of-birth"><br>
      
        <label for="estimated-delivery-date">Estimated Delivery Date :</label>
        <input type="date" id="estimated-delivery-date" name="estimated-delivery-date" ><br>
         
        <label for="hepb-status-awareness">Patient aware of HepB+ status?</label>
        <br>
        <input type="checkbox" id="hepb-status-awareness-yes" name="hepb-status-awareness" value="Yes">
        <label for="hepb-status-awareness-yes">Yes</label>
  
        <input type="checkbox" id="hepb-status-awareness-no" name="hepb-status-awareness" value="No">
        <label for="hepb-status-awareness-no">No</label>
  
        <input type="checkbox" id="hepb-status-awareness-unknown" name="hepb-status-awareness" value="Unknown">
        <label for="hepb-status-awareness-unknown">Unknown</label><br>
   
        <label for="address"> Address:</label>
        <input type="text" id="address" name="address"><br>
      
        <label for="city"> City:</label>
        <input type="text" id="city" name="city"><br>
      
        <label for="state"> State:</label>
        <input type="text" id="state" name="state"><br>
     
        <label for="zip"> Zip:</label>
        <input type="text" id="zip" name="zip"><br>
       
        <label for="phone-number"> Phone Number:</label>
        <input type="text" id="phone-number" name="phone-number"><br>
      <div>
          <label for="insurance-type">Type of Insurance:</label><br>
          <input type="checkbox" id="insurance-type-private" name="insurance-type" value="Private">
          <label for="insurance-type-private">Private</label>
          <input type="checkbox" id="insurance-type-medicaid" name="insurance-type" value="Medicaid">
          <label for="insurance-type-medicaid">Medicaid</label>
          <input type="checkbox" id="insurance-type-medicare" name="insurance-type" value="Medicare">
          <label for="insurance-type-medicare">Medicare</label>
          <input type="checkbox" id="insurance-type-uninsured" name="insurance-type" value="Uninsured">
          <label for="insurance-type-uninsured">Uninsured</label>
          <input type="checkbox" id="insurance-type-unknown" name="insurance-type" value="Unknown">
          <label for="insurance-type-unknown">Unknown</label>
      </div>
      <div class="form-group">
          <label for="race"> Race:</label><br>
          <input type="checkbox" id="race-american-indian" name="race" value="American Indian/Alaskan Native">
          <label for="race-american-indian">American Indian/Alaskan Native</label>
          <input type="checkbox" id="race-asian" name="race" value="Asian">
          <label for="race-asian">Asian</label>
          <input type="checkbox" id="race-black-african-am" name="race" value="Black/African Am">
          <label for="race-black-african-am">Black/African American</label>
          <input type="checkbox" id="race-native-hawaiian-pacific-islander" name="race" value="Native Hawaiian/Pacific Islander">
          <label for="race-native-hawaiian-pacific-islander">Native Hawaiian/Pacific Islander</label>
          <input type="checkbox" id="race-white" name="race" value="White">
          <label for="race-white">White</label>
          <input type="checkbox" id="race-other" name="race" value="Other">
          <label for="race-other">Other</label>
          <input type="checkbox" id="race-unknown" name="race" value="Unknown">
          <label for="race-unknown">Unknown</label>
      </div>
      <div class="form-group">
          <label for="hispanic"> Hispanic:</label><br>
          <input type="radio" id="hispanic-yes" name="hispanic" value="Yes">
          <label for="hispanic-yes">Yes</label>
          <input type="radio" id="hispanic-no" name="hispanic" value="No">
          <label for="hispanic-no">No</label>
          <input type="radio" id="hispanic-unknown" name="hispanic" value="Unknown">
          <label for="hispanic-unknown">Unknown</label>
      </div>
      <div class="form-group">
          <label for="country-of-birth"> Country of Birth:</label>
          <input type="text" id="country-of-birth" name="country-of-birth">
      </div>
      <div class="form-group">
          <label for="primary-language">Primary Language:</label>
          <input type="text" id="primary-language" name="primary-language">
  
      </div>
      <div class="form-group">
          <input type="checkbox" id="interpreter-needed" name="interpreter-needed">
          <label for="interpreter-needed">Check if Interpreter Needed</label>
      </div>
  <h3>LABORATORY INFORMATION</h3>
  <h4>Laboratory Results:</h4><p>Check off below any POSITIVE labs and attach positive Hep B lab results</p>
      <div class="form-group">
          <input type="checkbox" id="(Hep B surface antigen)" name="HBsAg (Hep B surface antigen)">
          <label for="HBsAg (Hep B surface antigen)">HBsAg (Hep B surface antigen)</label>
          <input type="checkbox" id="HBeAg (Hep Be antigen)" name="HBeAg (Hep Be antigen)">
          <label for="HBeAg (Hep Be antigen)">HBeAg (Hep Be antigen)</label>
          <input type="checkbox" id="IgM anti-HBc (IgM antibody to Hep B core antigen)" name="IgM anti-HBc (IgM antibody to Hep B core antigen)">
          <label for="IgM anti-HBc (IgM antibody to Hep B core antigen)">IgM anti-HBc (IgM antibody to Hep B core antigen)</label>
          <input type="checkbox" id="HBV DNA (Hep B virus DNA)" name="HBV DNA (Hep B virus DNA)">
          <label for="HBsAg (Hep B surface antigen)">HBV DNA (Hep B virus DNA)</label>
      </div>
  <h3>CLINICAL INFORMATION</h3>
      <div>
          <label for="OB Provider Last Name:">OB Provider Last Name:</label>
          <input type="text" id="OB Provider Last Name:" name="OB Provider Last Name:">
          <label for="OB Provider First Name:">OB Provider First Name:</label>
          <input type="text" id="OB Provider first-name:" name="OB Provider First Name:"><br>
          <label for="Expected Delivery Facility:">Expected Delivery Facility:</label>
          <input type="text" id="Expected Delivery Facility" name="Expected Delivery Facility:">
          <label for="Reporting Health Care Facility:">Reporting Health Care Facility:</label>
          <input type="text" id="Reporting Health Care Facility:" name="Reporting Health Care Facility:"><br>
          <label for="address"> Address: </label>
          <input type="text" id="address" name="address"><br>
          <label for="city"> City:</label>
          <input type="text" id="city" name="city"><br>
          <label for="state"> State:</label>
          <input type="text" id="state" name="state"><br>
          <label for="zip"> Zip:</label>
          <input type="text" id="zip" name="zip"><br><br>
          <label for="Contact Person at Reporting Facility:">Contact Person at Reporting Facility:</label>
          <input type="text" id="Contact Person at Reporting Facility:" name="Contact Person at Reporting Facility:"><br>
          <label for="Direct Phone:">  Direct Phone: </label>
          <input type="text" id="Direct Phone:" name="Direct Phone:"><br>
  
        <label for="Date Form Completed:">Date Form Completed:</label>
        <input type="date" id="Date Form Completed:" name="Date Form Completed:"><br>
          
      </div>
      <input type="submit" value="Submit">
  </form>

<hr>

<header>
  <h1>Chlamydia & Gonorrhea case reporting form</h1>
</header>
<h2>Clinic Information</h2>
<form method="post">
  <div class="form-group">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" >

    <label for="person_completing">Person Completing Form:</label>
    <input type="text" id="person_completing" name="person_completing">
    <div class="form-group">
    <label for="health_provider">Health Provider:</label>
    <input type="text" id="health-provider" name="health_provider">

    <label for="contact_info">Contact phone number/fax:</label>
    <input type="text" id="contact-info" name="contact_info">
  </div>

  <p>Your lab reported a communicable disease on the patient shown below and listed you as the provider.
    The Oregon Department of Human Services and Washington County require additional information.
    The fax cover sheet you have received references Oregon Law (ORS 433) that requires you to report this information.
    Please complete the form within 24 hours, or by the end of the next working day, and fax it back to our office at 503-846-3644.
    If you prefer, you may call to report the required information. We appreciate your cooperation and prompt handling of this confidential report.</p>
  <h2>Patient Information — Please complete all information requested below</h2>


      <table>
        <tr>
          <th> NAME:</th>
          <td><input type="text" id="name" name="name"><span id="nameerr"></span></td>
          <th>DATE OF BIRTH:</th>
          <td><input type="date" id="date-of-birth" name="date-of-birth"><span id="doberr"></span></td>
          <th>GENDER:</th>
          <td>
            <input type="checkbox" id="gender-male" name="gender" value="Male">
            <label for="gender-male">Male</label>
            <input type="checkbox" id="gender-female" name="gender" value="Female">
            <label for="gender-female">Female</label>
            <input type="checkbox" id="gender-other" name="gender" value="Other">
            <label for="gender-other">Other</label><span id="gendererr"></span>
          </td>
        </tr>
        <tr>
          <th> HOME ADDRESS:</th>
          <td colspan="5">
            <input type="text" id="street" name="street" placeholder="Street">
            <input type="text" id="city-state" name="city-state" placeholder="City/State">
            <input type="text" id="zip" name="zip" placeholder="Zip">
          </td>
        </tr>
        <tr>
          <th>PHONE NUMBER:</th>
          <td><input type="text" id="phone-number" name="phone-number"></td>
          <th>ALTERNATIVE # :</th>
          <td><input type="text" id="alternative-number" name="alternative-number"></td>
        </tr>
        <tr>
  <th> PREGNANCY TEST RESULTS:</th>
  <td colspan="5">
    <input type="checkbox" id="test-results-na" name="test-results" value="N/A">
    <label for="test-results-na">N/A</label>
    <input type="checkbox" id="test-results-negative" name="test-results" value="Negative">
    <label for="test-results-negative">Negative</label>
    <input type="checkbox" id="test-results-unknown" name="test-results" value="Unknown">
    <label for="test-results-unknown">Unknown</label>
    <input type="checkbox" id="test-results-positive" name="test-results" value="Positive">
    <label for="test-results-positive">Positive:</label>
    If positive, how many weeks?
    <input type="text" id="weeks-pregnant" name="weeks-pregnant"><span id="pregnancytesterr"></span>
  </td>
</tr>
<tr>
<th> ETHNICITY:</th>
<td colspan="5">
  <input type="checkbox" id="ethnicity-hispanic" name="ethnicity" value="Hispanic">
  <label for="ethnicity-hispanic">Hispanic</label>
  <input type="checkbox" id="ethnicity-non-hispanic" name="ethnicity" value="Non-Hispanic">
  <label for="ethnicity-non-hispanic">Non-Hispanic</label>
  <input type="checkbox" id="ethnicity-unknown" name="ethnicity" value="Unknown">
  <label for="ethnicity-unknown">Unknown</label><span id="ethnicityerr"></span>
</td>
</tr>
<tr>
<th>RACE:</th>
<td colspan="5">
  <input type="checkbox" id="race-white" name="race" value="White">
  <label for="race-white">White</label>
  <input type="checkbox" id="race-american-indian" name="race" value="American Indian">
  <label for="race-american-indian">American Indian</label>
  <input type="checkbox" id="race-unknown" name="race" value="Unknown">
  <label for="race-unknown">Unknown</label>
  <input type="checkbox" id="race-black" name="race" value="Black">
  <label for="race-black">Black</label>
  <input type="checkbox" id="race-alaskan" name="race" value="Alaskan">
  <label for="race-alaskan">Alaskan</label>
  <input type="checkbox" id="race-asian" name="race" value="Asian">
  <label for="race-asian">Asian</label>
  <input type="checkbox" id="race-pacific-islander" name="race" value="Pacific Islander">
  <label for="race-pacific-islander">Pacific Islander</label>
  <input type="checkbox" id="race-other" name="race" value="Other">
  <label for="race-other">Other:</label>
  <input type="text" id="race-other-text" name="race-other-text"><span id="raceerr"></span>
</td>
</tr>
<tr>
<th>GENDER OF SEX PARTNER(S):</th>
<td colspan="5">
  <input type="checkbox" id="partner-gender-male" name="partner-gender" value="Male">
  <label for="partner-gender-male">Male</label>
  <input type="checkbox" id="partner-gender-female" name="partner-gender" value="Female">
  <label for="partner-gender-female">Female</label>
  <input type="checkbox" id="partner-gender-both" name="partner-gender" value="Both">
  <label for="partner-gender-both">Both</label>
  <input type="checkbox" id="partner-gender-unknown" name="partner-gender" value="Unknown">
  <label for="partner-gender-unknown">Unknown</label><span id="partnergendererr"></span>
</td>
</tr>

<tr>
<th> PREVIOUS HIV TESTING:</th>
<td colspan="5">
  <input type="checkbox" id="previous-hiv-yes" name="previous-hiv" value="Yes">
  <label for="previous-hiv-yes">Yes</label>
  <input type="checkbox" id="previous-hiv-no" name="previous-hiv" value="No">
  <label for="previous-hiv-no">No</label>
  <input type="checkbox" id="previous-hiv-unknown" name="previous-hiv" value="Unknown">
  <label for="previous-hiv-unknown">Unknown</label>
  <br>
  If yes, last result was?
  <input type="checkbox" id="previous-hiv-result-pos" name="previous-hiv-result" value="POS">
  <label for="previous-hiv-result-pos">POS</label>
  <input type="checkbox" id="previous-hiv-result-neg" name="previous-hiv-result" value="NEG">
  <label for="previous-hiv-result-neg">NEG</label>
  <input type="checkbox" id="previous-hiv-result-unknown" name="previous-hiv-result" value="Unknown">
  <label for="previous-hiv-result-unknown">Unknown</label><span id="prevhiverr"></span>
  <br>
  Month of last test:
  <input type="text" id="last-test-month" name="last-test-month">
  Year of last test:
  <input type="text" id="last-test-year" name="last-test-year">
</td>
</tr>

<tr>
<th> REASON FOR EXAM:</th>
<td colspan="5">
  <input type="checkbox" id="reason-symptomatic" name="reason" value="Symptomatic">
  <label for="reason-symptomatic">Symptomatic</label>
  <input type="checkbox" id="reason-routine" name="reason" value="Routine Exam">
  <label for="reason-routine">Routine Exam</label>
  <input type="checkbox" id="reason-test-for-cure" name="reason" value="Test for Cure">
  <label for="reason-test-for-cure">Test for Cure</label>
  <input type="checkbox" id="reason-exposed-to-infection" name="reason" value="Exposed to Infection">
  <label for="reason-exposed-to-infection">Exposed to Infection</label>
  <input type="checkbox" id="reason-pregnant" name="reason" value="Pregnant">
  <label for="reason-pregnant">Pregnant</label><span id="reasonerr"></span>
</td>
</tr>
<tr>
<th>DIAGNOSIS:</th>
<td colspan="5">
  <input type="checkbox" id="diagnosis-asymptomatic" name="diagnosis" value="Asymptomatic">
  <label for="diagnosis-asymptomatic">Asymptomatic</label>
  <input type="checkbox" id="diagnosis-symptomatic-uncomplicated" name="diagnosis" value="Symptomatic-Uncomplicated">
  <label for="diagnosis-symptomatic-uncomplicated">Symptomatic-Uncomplicated</label>
  <input type="checkbox" id="diagnosis-pid" name="diagnosis" value="Pelvic Inflammatory Disease (PID)">
  <label for="diagnosis-pid">Pelvic Inflammatory Disease (PID)</label>
  <input type="checkbox" id="diagnosis-ophthalmia" name="diagnosis" value="Ophthalmia / Conjunctivitis">
  <label for="diagnosis-ophthalmia">Ophthalmia / Conjunctivitis</label>
  <input type="checkbox" id="diagnosis-disseminated" name="diagnosis" value="Disseminated">
  <label for="diagnosis-disseminated">Disseminated</label><span id="diagnosiserrr"></span>
</td>
</tr>
<tr>
<th>SITE(S):</th>
<td colspan="5">
  <input type="checkbox" id="site-cervix" name="site" value="Cervix">
  <label for="site-cervix">Cervix</label>
  <input type="checkbox" id="site-ocular" name="site" value="Ocular">
  <label for="site-ocular">Ocular</label>
  <input type="checkbox" id="site-vaginal" name="site" value="Vaginal">
  <label for="site-vaginal">Vaginal</label>
  <input type="checkbox" id="site-urine" name="site" value="Urine">
  <label for="site-urine">Urine</label>
  <input type="checkbox" id="site-urethra" name="site" value="Urethra">
  <label for="site-urethra">Urethra</label>
  <input type="checkbox" id="site-pharynx" name="site" value="Pharynx">
  <label for="site-pharynx">Pharynx</label>
  <input type="checkbox" id="site-rectum" name="site" value="Rectum">
  <label for="site-rectum">Rectum</label>
  <input type="checkbox" id="site-other" name="site" value="Other">
  <label for="site-other">Other</label><span id="siteerr"></span>
</td>
</tr>
  </table>
  <input type="submit" value="Submit">

</form>

</article>

<hr>

<header>
  <h1>CONGENITAL SYPHILIS (CS) CASE INVESTIGATION AND REPORT </h1>
</header>
<form method="post">
    <h2>Congenital Syphilis Form</h2>
<table>
  <tr>
    <th>1. Report date to health dept.</th>
    <td>
      <input type="checkbox" id="report-date-unknown" name="report-date-unknown">
      <label for="report-date-unknown">Unk</label>
      <input type="date" id="report-date" name="report-date">
    </td>
    <th>2. Reporting state FIPS code:</th>
    <td>
      <input type="checkbox" id="reporting-state-unknown" name="reporting-state-unknown">
      <label for="reporting-state-unknown">Unk</label>
      <input type="text" id="reporting-state-fips" name="reporting-state-fips">
      <input type="text" id="reporting-state-name" name="reporting-state-name" placeholder="Reporting State Name">
    </td>
    <th>3. Reporting county FIPS code:</th>
    <td>
      <input type="checkbox" id="reporting-county-unknown" name="reporting-county-unknown">
      <label for="reporting-county-unknown">Unk</label>
      <input type="text" id="reporting-county-fips" name="reporting-county-fips">
      <input type="text" id="reporting-county-name" name="reporting-county-name" placeholder="Reporting County Name">
    </td>
  </tr>
  <tr>
    <th colspan="6">Part I. Maternal Information</th>
  </tr>
  <tr>
    <th>4. Mother’s state FIPS code:</th>
    <td>
      <input type="checkbox" id="mother-state-unknown" name="mother-state-unknown">
      <label for="mother-state-unknown">Unk</label>
      <input type="text" id="mother-state-fips" name="mother-state-fips">
      <input type="text" id="mother-state-name" name="mother-state-name" placeholder="Mother’s Residence State">
    </td>
    <th>5. Mother’s Country of residence:</th>
    <td colspan="3">
      <input type="text" id="mother-country-residence" name="mother-country-residence" placeholder="Mother’s Country of Residence">
    </td>
  </tr>
  <tr>
    <th>6. Mother’s residence county FIPS code:</th>
    <td>
      <input type="checkbox" id="mother-county-unknown" name="mother-county-unknown">
      <label for="mother-county-unknown">Unk</label>
      <input type="text" id="mother-county-fips" name="mother-county-fips">
      <input type="text" id="mother-county-name" name="mother-county-name">
    </td>
    <th>7. Mother’s residence ZIP code:</th>
    <td>
      <input type="checkbox" id="mother-zip-unknown" name="mother-zip-unknown">
      <label for="mother-zip-unknown">Unk</label>
      <input type="text" id="mother-zip-code" name="mother-zip-code">
    </td>
    <th>8. Mother’s date of birth:</th>
    <td>
      <input type="checkbox" id="mother-dob-unknown" name="mother-dob-unknown">
      <label for="mother-dob-unknown">Unk</label>
      <input type="date" id="mother-date-of-birth" name="mother-date-of-birth">
    </td>
  </tr>
  <tr>
    <th>9. Mother’s obstetric history:</th>
    <td colspan="5">
      <label for="gravida">G</label>
      <input type="text" id="gravida" name="gravida" placeholder="G=pregnancies">
      <label for="para">P</label>
      <input type="text" id="para" name="para" placeholder="P=live births">
    </td>
  </tr>
  <tr>
    <th>10. Last menstrual period (LMP) (before delivery):</th>
    <td>
      <input type="text" id="lmp" name="lmp">
      <input type="checkbox" id="lmp-unknown" name="lmp-unknown">
      <label for="lmp-unknown">Unk</label>
    </td>
    <th>11. a) Indicate date of first prenatal visit:</th>
    <td>
      <input type="date" id="first-prenatal-date" name="first-prenatal-date">
      <label for="no-prenatal-care"><input type="checkbox" id="no-prenatal-care" name="no-prenatal-care"> No prenatal care (Go to Q12)</label>
      <input type="checkbox" id="first-prenatal-unknown" name="first-prenatal-unknown">
      <label for="first-prenatal-unknown">Unk</label>
    </td>
    <th>11. b) Indicate trimester of first prenatal visit:</th>
    <td>
      1 <input type="checkbox" id="first-trimester" name="first-trimester"> 1st trimester
     2 <input type="checkbox" id="second-trimester" name="second-trimester"> 2nd trimester
      3 <input type="checkbox" id="third-trimester" name="third-trimester"> 3rd trimester
      <input type="checkbox" id="trimester-unknown" name="trimester-unknown">
      <label for="trimester-unknown">Unk</label>
    </td>
  </tr>
  <tr>
      <th>12. Mother’s ethnicity:</th>
      <td>
        1 <input type="checkbox" id="hispanic-latino" name="hispanic-latino"> Hispanic or Latino
        2 <input type="checkbox" id="non-hispanic-latino" name="non-hispanic-latino"> Non-Hispanic or Latino
        <input type="checkbox" id="mother-ethnicity-unknown" name="mother-ethnicity-unknown">
        <label for="mother-ethnicity-unknown">Unk</label>
      </td>
      <th>13. Mother’s race: (check all that apply)</th>
      <td colspan="3">
        <input type="checkbox" id="race-american-indian" name="race-american-indian">
        <label for="race-american-indian">American Indian/Alaska Native</label>
        <input type="checkbox" id="race-black-african-american" name="race-black-african-american">
        <label for="race-black-african-american">Black or African American</label>
        <input type="checkbox" id="race-asian" name="race-asian">
        <label for="race-asian">Asian</label>
        <input type="checkbox" id="race-hawaiian-pacific-islander" name="race-hawaiian-pacific-islander">
        <label for="race-hawaiian-pacific-islander">Native Hawaiian or Other Pacific Islander</label>
        <input type="checkbox" id="race-white" name="race-white">
        <label for="race-white">White</label>
        <input type="checkbox" id="race-other" name="race-other">
        <label for="race-other">Other</label>
        <input type="checkbox" id="race-unknown" name="race-unknown">
        <label for="race-unknown">Unk</label>
      </td>
    </tr>
    <tr>
<th>14. Did mother have non-treponemal or treponemal tests at:</th>
<td>
a) first prenatal visit? &nbsp;
1 <input type="checkbox" id="first-prenatal-test-yes" name="first-prenatal-test-yes"> Yes
2 <input type="checkbox" id="first-prenatal-test-no" name="first-prenatal-test-no"> No
<input type="checkbox" id="first-prenatal-test-unknown" name="first-prenatal-test-unknown"> Unk
</td>
<td>
b) 28–32 weeks gestation? &nbsp;
1 <input type="checkbox" id="gestation-test-yes" name="gestation-test-yes"> Yes
2 <input type="checkbox" id="gestation-test-no" name="gestation-test-no"> No
<input type="checkbox" id="gestation-test-unknown" name="gestation-test-unknown"> Unk
</td>
<td>
c) delivery? &nbsp;
1 <input type="checkbox" id="delivery-test-yes" name="delivery-test-yes"> Yes
2 <input type="checkbox" id="delivery-test-no" name="delivery-test-no"> No
<input type="checkbox" id="delivery-test-unknown" name="delivery-test-unknown"> Unk
</td>
</tr>

<tr>
<th>15. Mother’s marital status:</th>
<td colspan="5">
1 <input type="checkbox" id="marital-status-single" name="marital-status-single"> Single, never married.
2 <input type="checkbox" id="marital-status-married" name="marital-status-married"> Married.
3 <input type="checkbox" id="marital-status-separated-divorced" name="marital-status-separated-divorced"> Separated/Divorced.
4 <input type="checkbox" id="marital-status-widow" name="marital-status-widow"> Widow.
5 <input type="checkbox" id="marital-status-other" name="marital-status-other"> Other
<input type="checkbox" id="marital-status-unknown" name="marital-status-unknown"> Unk
</td>
</tr>

<tr>
<th>16. Indicate during pregnancy and delivery, dates and results of a) most recent and b) first non-treponemal tests:</th>
</tr>
<tr>
<th>Date:</th>
<td colspan="5">
  a) <input type="date" id="most-recent-test-date" name="most-recent-test-date">
  <input type="checkbox" id="most-recent-test-date-unknown" name="most-recent-test-date-unknown"> Unk &nbsp;
  b) <input type="date" id="first-test-date" name="first-test-date">
  <input type="checkbox" id="first-test-date-unknown" name="first-test-date-unknown"> Unk
</td>
</tr>
<tr>
<th>Results:</th>
<td colspan="5">
  1 <input type="checkbox" id="most-recent-test-result-reactive" name="most-recent-test-result-reactive"> Reactive
  2 <input type="checkbox" id="most-recent-test-result-nonreactive" name="most-recent-test-result-nonreactive"> Nonreactive
  <input type="checkbox" id="most-recent-test-result-unknown" name="most-recent-test-result-unknown"> Unk &nbsp;
  1 <input type="checkbox" id="first-test-result-reactive" name="first-test-result-reactive"> Reactive
  2 <input type="checkbox" id="first-test-result-nonreactive" name="first-test-result-nonreactive"> Nonreactive
  <input type="checkbox" id="first-test-result-unknown" name="first-test-result-unknown"> Unk
</td>
</tr>
<tr>
<th>Titer:</th>
<td colspan="5">
  1: <input type="text" id="most-recent-test-titer" name="most-recent-test-titer">
  1: <input type="text" id="first-test-titer" name="first-test-titer">
</td>
</tr>

<tr>
<th>17. Indicate during pregnancy, date, type, and result of a) first and b) most recent treponemal tests:</th>
</tr>
<tr>
<th>Date</th>
<td colspan="5">
  a) <input type="date" id="first-treponemal-test-date" name="first-treponemal-test-date">
  <input type="checkbox" id="first-treponemal-test-date-unknown" name="first-treponemal-test-date-unknown"> Unk &nbsp;
  b) <input type="date" id="recent-treponemal-test-date" name="recent-treponemal-test-date">
  <input type="checkbox" id="recent-treponemal-test-date-unknown" name="recent-treponemal-test-date-unknown"> Unk
</td>
</tr>
<tr>
<th>Test Type</th>
<td colspan="5">
  a)
  1 <input type="checkbox" id="first-treponemal-test-type-eia-clia" name="first-treponemal-test-type-eia-clia"> EIA or CLIA
  2 <input type="checkbox" id="first-treponemal-test-type-tp-pa" name="first-treponemal-test-type-tp-pa"> TP-PA
  3 <input type="checkbox" id="first-treponemal-test-type-other" name="first-treponemal-test-type-other"> Other
    <input type="checkbox" id="first-treponemal-test-type-unknown" name="first-treponemal-test-type-unknown"> Unk &nbsp;b)
  1 <input type="checkbox" id="recent-treponemal-test-type-eia-clia" name="recent-treponemal-test-type-eia-clia"> EIA or CLIA
  2 <input type="checkbox" id="recent-treponemal-test-type-tp-pa" name="recent-treponemal-test-type-tp-pa"> TP-PA
  3 <input type="checkbox" id="recent-treponemal-test-type-other" name="recent-treponemal-test-type-other"> Other
  <input type="checkbox" id="recent-treponemal-test-type-unknown" name="recent-treponemal-test-type-unknown"> Unk
</td>
</tr>
<tr>
<th>Results</th>
<td colspan="5">
  a)
  1 <input type="checkbox" id="first-treponemal-test-result-reactive" name="first-treponemal-test-result-reactive"> Reactive
  2 <input type="checkbox" id="first-treponemal-test-result-nonreactive" name="first-treponemal-test-result-nonreactive"> Nonreactive
  <input type="checkbox" id="first-treponemal-test-result-unknown" name="first-treponemal-test-result-unknown"> Unk &nbsp;
  b)
  1 <input type="checkbox" id="recent-treponemal-test-result-reactive" name="recent-treponemal-test-result-reactive"> Reactive
  2 <input type="checkbox" id="recent-treponemal-test-result-nonreactive" name="recent-treponemal-test-result-nonreactive"> Nonreactive
  <input type="checkbox" id="recent-treponemal-test-result-unknown" name="recent-treponemal-test-result-unknown"> Unk
</td>
</tr>

<tr>
<th>18. What was mother’s HIV status during pregnancy?</th>
<td colspan="5">
  P <input type="checkbox" id="hiv-status-positive" name="hiv-status-positive"> positive
  E <input type="checkbox" id="hiv-status-equivocal" name="hiv-status-equivocal"> equivocal test
  X <input type="checkbox" id="hiv-status-not-tested" name="hiv-status-not-tested"> patient not tested
  N <input type="checkbox" id="hiv-status-negative" name="hiv-status-negative"> negative
  U <input type="checkbox" id="hiv-status-unknown" name="hiv-status-unknown"> Unk
</td>
</tr>
<tr>
<th>19. What CLINICAL stage of syphilis did mother have during pregnancy?</th>
<td colspan="5">
  1 <input type="checkbox" id="syphilis-stage-primary" name="syphilis-stage-primary"> primary
  2 <input type="checkbox" id="syphilis-stage-secondary" name="syphilis-stage-secondary"> secondary
  3 <input type="checkbox" id="syphilis-stage-early-latent" name="syphilis-stage-early-latent"> early latent
  4 <input type="checkbox" id="syphilis-stage-late-latent" name="syphilis-stage-late-latent"> late or late latent
  5 <input type="checkbox" id="syphilis-stage-previously-treated" name="syphilis-stage-previously-treated"> previously treated/serofast
    <input type="checkbox" id="syphilis-stage-other" name="syphilis-stage-other"> Other
    <input type="checkbox" id="syphilis-stage-unknown" name="syphilis-stage-unknown"> Unk
</td>
</tr>

<tr>
<th>20. What SURVEILLANCE stage of syphilis did mother have during pregnancy? (Footnote A)</th>
<td colspan="5">
  1 <input type="checkbox" id="syphilis-surveillance-stage-primary" name="syphilis-surveillance-stage-primary"> primary
  2 <input type="checkbox" id="syphilis-surveillance-stage-secondary" name="syphilis-surveillance-stage-secondary"> secondary
  3 <input type="checkbox" id="syphilis-surveillance-stage-early-latent" name="syphilis-surveillance-stage-early-latent"> early latent
  4 <input type="checkbox" id="syphilis-surveillance-stage-late-latent" name="syphilis-surveillance-stage-late-latent"> late or late latent
    <input type="checkbox" id="syphilis-surveillance-stage-unknown" name="syphilis-surveillance-stage-unknown"> Unk
</td>
</tr>

<tr>
<th>21. When did mother receive her first dose of benzathine penicillin?</th>
<td colspan="5">
  <input type="text" id="first-penicillin-dose-date" name="first-penicillin-dose-date">
  1 <input type="checkbox" id="penicillin-dose-before-pregnancy" name="penicillin-dose-before-pregnancy"> Before pregnancy
  2 <input type="checkbox" id="penicillin-dose-1st-trimester" name="penicillin-dose-1st-trimester"> 1st trimester
  3 <input type="checkbox" id="penicillin-dose-2nd-trimester" name="penicillin-dose-2nd-trimester"> 2nd trimester
  4 <input type="checkbox" id="penicillin-dose-3rd-trimester" name="penicillin-dose-3rd-trimester"> 3rd trimester
  5 <input type="checkbox" id="penicillin-dose-no-treatment" name="penicillin-dose-no-treatment"> No Treatment (Go to Q24)
  <input type="checkbox" id="penicillin-dose-unknown" name="penicillin-dose-unknown"> Unk
</td>
</tr>
<tr>
<th>22. What was mother’s treatment?</th>
<td colspan="5">
  1 <input type="checkbox" id="treatment-2.4m-units" name="treatment-2.4m-units"> 2.4 M units benzathine penicillin
  2 <input type="checkbox" id="treatment-4.8m-units" name="treatment-4.8m-units"> 4.8 M units benzathine penicillin
  3 <input type="checkbox" id="treatment-7.2m-units" name="treatment-7.2m-units"> 7.2 M units benzathine penicillin
  <input type="checkbox" id="treatment-other" name="treatment-other"> Other
  <input type="checkbox" id="treatment-unknown" name="treatment-unknown"> Unk
</td>
</tr>

<tr>
<th>23. Did mother have an appropriate serologic response? (Footnote B)</th>
<td colspan="5">
  1 <input type="checkbox" id="serologic-response-yes" name="serologic-response-yes"> Yes, appropriate response
  2 <input type="checkbox" id="serologic-response-no" name="serologic-response-no"> No, inappropriate response: evidence of treatment failure or reinfection
  3 <input type="checkbox" id="serologic-response-unknown" name="serologic-response-unknown"> Response could not be determined from available non-treponemal titer information
  4 <input type="checkbox" id="serologic-response-not-enough-time" name="serologic-response-not-enough-time"> Not enough time for titer to change
</td>
</tr>


</table>
<div class="form-group">
  <input type="submit" value="Save">
</div>
<a href="#top" class="back-to-top">Back to Top</a>

</form>


</article>
</section>

</body>

</html>