<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keyboards" content="HTML 5, CSS3, JavaScript, JQuery, AngularJs"/>
  <meta name="description" content="Dynamic web development">
  <meta name="author" content="edmond">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hepatitis B Page</title>
</head>
<body>
    <h3>Hepatitis B Infected Pregnant Woman Reporting Form</h3>
    <form method="post">
          <label for="last-name">Last Name:</label>
          <input type="text" id="last-name" name="last-name">
       
          <label for="first-name">First Name:</label>
          <input type="text" id="first-name" name="first-name">
       
          <label for="middle-name">Middle Name:</label>
          <input type="text" id="middle-name" name="middle-name"><br>
       
          <label for="date-of-birth">Date of Birth: </label>
          <input type="date" id="date-of-birth" name="date-of-birth"><br>
        
          <label for="estimated-delivery-date">Estimated Delivery Date :</label>
          <input type="date" id="estimated-delivery-date" name="estimated-delivery-date" ><br>
           
          <label for="hepb-status-awareness">Patient aware of HepB+ status?</label>
          <br>
          <input type="checkbox" id="hepb-status-awareness-yes" name="hepb-status-awareness" value="Yes">
          <label for="hepb-status-awareness-yes">Yes</label>
    
          <input type="checkbox" id="hepb-status-awareness-no" name="hepb-status-awareness" value="No">
          <label for="hepb-status-awareness-no">No</label>
    
          <input type="checkbox" id="hepb-status-awareness-unknown" name="hepb-status-awareness" value="Unknown">
          <label for="hepb-status-awareness-unknown">Unknown</label><br>
     
          <label for="address"> Address:</label>
          <input type="text" id="address" name="address"><br>
        
          <label for="city"> City:</label>
          <input type="text" id="city" name="city"><br>
        
          <label for="state"> State:</label>
          <input type="text" id="state" name="state"><br>
       
          <label for="zip"> Zip:</label>
          <input type="text" id="zip" name="zip"><br>
         
          <label for="phone-number"> Phone Number:</label>
          <input type="text" id="phone-number" name="phone-number"><br>
        <div>
            <label for="insurance-type">Type of Insurance:</label><br>
            <input type="checkbox" id="insurance-type-private" name="insurance-type" value="Private">
            <label for="insurance-type-private">Private</label>
            <input type="checkbox" id="insurance-type-medicaid" name="insurance-type" value="Medicaid">
            <label for="insurance-type-medicaid">Medicaid</label>
            <input type="checkbox" id="insurance-type-medicare" name="insurance-type" value="Medicare">
            <label for="insurance-type-medicare">Medicare</label>
            <input type="checkbox" id="insurance-type-uninsured" name="insurance-type" value="Uninsured">
            <label for="insurance-type-uninsured">Uninsured</label>
            <input type="checkbox" id="insurance-type-unknown" name="insurance-type" value="Unknown">
            <label for="insurance-type-unknown">Unknown</label>
        </div>
        <div class="form-group">
            <label for="race"> Race:</label><br>
            <input type="checkbox" id="race-american-indian" name="race" value="American Indian/Alaskan Native">
            <label for="race-american-indian">American Indian/Alaskan Native</label>
            <input type="checkbox" id="race-asian" name="race" value="Asian">
            <label for="race-asian">Asian</label>
            <input type="checkbox" id="race-black-african-am" name="race" value="Black/African Am">
            <label for="race-black-african-am">Black/African American</label>
            <input type="checkbox" id="race-native-hawaiian-pacific-islander" name="race" value="Native Hawaiian/Pacific Islander">
            <label for="race-native-hawaiian-pacific-islander">Native Hawaiian/Pacific Islander</label>
            <input type="checkbox" id="race-white" name="race" value="White">
            <label for="race-white">White</label>
            <input type="checkbox" id="race-other" name="race" value="Other">
            <label for="race-other">Other</label>
            <input type="checkbox" id="race-unknown" name="race" value="Unknown">
            <label for="race-unknown">Unknown</label>
        </div>
        <div class="form-group">
            <label for="hispanic"> Hispanic:</label><br>
            <input type="radio" id="hispanic-yes" name="hispanic" value="Yes">
            <label for="hispanic-yes">Yes</label>
            <input type="radio" id="hispanic-no" name="hispanic" value="No">
            <label for="hispanic-no">No</label>
            <input type="radio" id="hispanic-unknown" name="hispanic" value="Unknown">
            <label for="hispanic-unknown">Unknown</label>
        </div>
        <div class="form-group">
            <label for="country-of-birth"> Country of Birth:</label>
            <input type="text" id="country-of-birth" name="country-of-birth">
        </div>
        <div class="form-group">
            <label for="primary-language">Primary Language:</label>
            <input type="text" id="primary-language" name="primary-language">
    
        </div>
        <div class="form-group">
            <input type="checkbox" id="interpreter-needed" name="interpreter-needed">
            <label for="interpreter-needed">Check if Interpreter Needed</label>
        </div>
    <h3>LABORATORY INFORMATION</h3>
    <h4>Laboratory Results:</h4><p>Check off below any POSITIVE labs and attach positive Hep B lab results</p>
        <div class="form-group">
            <input type="checkbox" id="(Hep B surface antigen)" name="HBsAg (Hep B surface antigen)">
            <label for="HBsAg (Hep B surface antigen)">HBsAg (Hep B surface antigen)</label>
            <input type="checkbox" id="HBeAg (Hep Be antigen)" name="HBeAg (Hep Be antigen)">
            <label for="HBeAg (Hep Be antigen)">HBeAg (Hep Be antigen)</label>
            <input type="checkbox" id="IgM anti-HBc (IgM antibody to Hep B core antigen)" name="IgM anti-HBc (IgM antibody to Hep B core antigen)">
            <label for="IgM anti-HBc (IgM antibody to Hep B core antigen)">IgM anti-HBc (IgM antibody to Hep B core antigen)</label>
            <input type="checkbox" id="HBV DNA (Hep B virus DNA)" name="HBV DNA (Hep B virus DNA)">
            <label for="HBsAg (Hep B surface antigen)">HBV DNA (Hep B virus DNA)</label>
        </div>
    <h3>CLINICAL INFORMATION</h3>
        <div>
            <label for="OB Provider Last Name:">OB Provider Last Name:</label>
            <input type="text" id="OB Provider Last Name:" name="OB Provider Last Name:">
            <label for="OB Provider First Name:">OB Provider First Name:</label>
            <input type="text" id="OB Provider first-name:" name="OB Provider First Name:"><br>
            <label for="Expected Delivery Facility:">Expected Delivery Facility:</label>
            <input type="text" id="Expected Delivery Facility" name="Expected Delivery Facility:">
            <label for="Reporting Health Care Facility:">Reporting Health Care Facility:</label>
            <input type="text" id="Reporting Health Care Facility:" name="Reporting Health Care Facility:"><br>
            <label for="address"> Address: </label>
            <input type="text" id="address" name="address"><br>
            <label for="city"> City:</label>
            <input type="text" id="city" name="city"><br>
            <label for="state"> State:</label>
            <input type="text" id="state" name="state"><br>
            <label for="zip"> Zip:</label>
            <input type="text" id="zip" name="zip"><br><br>
            <label for="Contact Person at Reporting Facility:">Contact Person at Reporting Facility:</label>
            <input type="text" id="Contact Person at Reporting Facility:" name="Contact Person at Reporting Facility:"><br>
            <label for="Direct Phone:">  Direct Phone: </label>
            <input type="text" id="Direct Phone:" name="Direct Phone:"><br>
    
          <label for="Date Form Completed:">Date Form Completed:</label>
          <input type="date" id="Date Form Completed:" name="Date Form Completed:"><br>
            
        </div>
        <input type="submit" value="Submit">
    </form>
</body>    

</html>